*{
    transition: all 1s;
    box-sizing: border-box;
}
.box{
    /* border:1px solid green; */
    display: grid;
    grid-template-columns: repeat(
        auto-fit,
        minmax(
            150px,
            1fr
        )
    );
    gap: 30px;
}
.title{
    /* border: 1px solid green; */
    text-align: center;
    padding: 50px 0 50px;
    font-size: 30px;
    font-family: 'Open Sans', sans-serif;
}
body{
    background: #6441A5;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2a0845, #6441A5);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2a0845, #6441A5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    font-family: 'Open Sans', sans-serif;
}
.title{
    color: white;
}
.box1{
    height: 400px;
    width:300px;
    /* border:1px solid red; */
    display: flex;
    align-items: center; 
    justify-content: center;
}
.box2{
    height: 400px;
    width:300px;
    /* border:1px solid blue; */
    display: flex;
    align-items: center; 
    justify-content: center;
}
.card1{
    /* border: 1px solid black; */
    text-align: center;
    display: grid;
    gap: 50px;
    
}
button{
    padding: 5px 10px 5px ;
    border-radius: 10px;
    border:none;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
}
.parrafo{
    margin-bottom: -30px;
    color: white;
}
.formulario{
    color: white;
    color:#7b7e83;
    text-align: center;
    font-weight: bold;
}
table{
    /* background: #485563;  fallback for old browsers */
    background: slategray;
    background: -webkit-linear-gradient(to right, #29323c, #485563);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #29323c, #485563); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
}
table td{
    border:1px solid black;
    width: 50px;
    height: 50px;
    background-color: white;
}